@font-face {
  font-family: "Fira Code Retina";
  src: url("../fonts/FiraCode-Retina.woff") format("woff"),
    url("../fonts/FiraCode-Retina.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Bold.woff") format("woff"),
    url("../fonts/FiraCode-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Medium.woff") format("woff"),
    url("../fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Regular.woff") format("woff"),
    url("../fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Light.woff") format("woff"),
    url("../fonts/FiraCode-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
